.table {
    background-color: rgb(205, 114, 3);
    width: 250px;
    height: 200px;
    padding: 20px;
}

table {
    background-color: aquamarine;
    border-radius: 5px;
}

tr, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

table, tr, th, td { 
    border: 1px solid black;
}

.name-pedro {
    color: rgb(255, 255, 255);
    background-color: black;
}